{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
<form action="" method="POST" novalidate>
{{form.hidden_tag()}}

    <table class="table table-dark" style="width: 600px; margin:auto;">
<form action="" method="POST" novalidate>
{{form.hidden_tag()}}

<h1>Login</h1>

    <table class="table table-dark" style="width: 600px; margin:auto;">





<form action="{{url_for('register')}}" method="POST" novalidate>
    {{form.hidden_tag()}}
    <fieldset>
        <legend>Register</legend>
        
        <p>
        {{form.fullname.label}}{{form.fullname(size=32, autofocus=True)}}
        {% for error in form.fullname.errors %}
            <span style="color:red;">{{error}}</span>
        {% endfor %}
        </p>

        <p>
            {{form.username.label}}{{form.username(size=32,)}}
            {% for error in form.username.errors %}
                <span style="color:red;">{{error}}</span>
               
            {% endfor %}
                
         </p>
                
         <p>
               
            {{form.phone.label}}{{form.phone(size=32,)}}
            {% for error in form.phone.errors %}
                <span style="color:red;">{{error}}</span>
            {% endfor %}
         </p>
         <p>
            {{form.email.label}}{{form.email(size=32,)}}
            {% for error in form.email.errors %}
                <span style="color:red;">{{error}}</span>
            {% endfor %}
         </p>


         <p>
            {{form.role_id.label}}{{form.role_id(size=32)}}
             {% for error in form.role_id.errors %}
                    <span style="color:red;">{{error}}</span>
                {% endfor %}
            </p>
            

               

        <p>
        {{form.password.label}}{{form.password(size=32)}}
        {% for error in form.password.errors %}
            <span style="color:red;">{{error}}</span>
        {% endfor %}
        </p>
         <p>
        {{form.password2.label}}{{form.password2(size=32)}}
        {% for error in form.password2.errors %}
            <span style="color:red;">{{error}}</span>
        {% endfor %}
        </p>
        <p>{{form.submit()}}</P>
    </fieldset>
</form>
{% endblock %} 

