{% extends "base.html" %}
{% block content %}

<form action="" method="POST" novalidate>
    {{form.hidden_tag()}}
    
    <fieldset>
        <legend>Login</legend>
         <p>
            {{form.courseId.label}}{{form.courseId(size=32,autofocus=True)}}
            {% for error in form.courseId.errors %}
                <span style="color:red;">{{error}}</span>
            {% endfor %}
        </p>
        <p>{{form.submit()}}</p>
        
        <p><a href="{{url_for('menu')}}">Back to menu</a></p>
     </fieldse>
     
</form>
{% endblock %}
